@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

.h1{
  @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold

}

.h2{
  @apply text-[36px] xl:text-[50px] leading-[1.1] font-semibold

}

.h3{
  @apply text-[20px] xl:text-[30px] leading-[1.1] font-semibold

}

.text-outline{
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover{
  -webkit-text-stroke: 1px #ffffff;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

/* globals.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
